<<<<<<< HEAD
.borde{
	border: solid #B3B4BA 1px;
}
.borde:hover {
    border: 1px solid;
    box-shadow: 5px 10px 10px black;
    opacity: .78;
}

#borde-bot-info:hover{
	border: solid #E4A900 3px;
=======
.borde {
	border: solid red 2px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 13px;
>>>>>>> 1154acefe22dc59b2834a896511c2b023afe48bd
}
.styleButtonGroup {
	background-color: black;
	color: withe;
}
.styleButtonGroup:hover {
	background-color: #E4A900;
	color: black;
}
.styleButtonGroupDropdown {
	background-color: black;
	color: white;
}
.styleButtonGroupDropdown {
	background-color: black;
	color: white;
}
.styleButtonDropdown {
	color: white;
}
.styleButtonDropdown:hover {
	background-color: #E4A900;
	color: black;
}
<<<<<<< HEAD
.list-group-item {
    padding: 1px 10px
}
.carousel-caption {
    top: auto;
    bottom: 0;
    left: 0;
    right: 0;
}
p {
    margin: 0 0 9px;
}
p {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}
.nav-tabs .nav-link {
    border-radius: 25px 5px 0px 0px;
    background-color: #EEEEEE;
    color: black;
    border-color: #E4A900;
}
.nav-tabs .nav-link:active {
    border-radius: 25px 5px 0px 0px;
    background-color: #E4A900;
    color: black;
    border-color: #E4A900;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: black;
    background-color: #E4A900;
    border-color: #E4A900;
}
/*
<hr color="blue" size=3>
.styleButtonGroupDropdown:hover{
	background-color: #E4A900;
	color: black;
}*/
=======
/*
<hr color="blue" size=3>
.styleButtonGroupDropdown:hover{
	background-color: #E4A900;
	color: black;
}*/

.container {
	padding: 0px;
}
.dropdown-toggle::after {
	color: #E4A900;
}
.dropdown:hover .dropdown-menu {
	display: block;
	margin-top: 0;
	background: #fff;
	background-color: #000;
	color: #fff;
}
.dropdown-menu > a:hover, .dropdown-menu .active > a, .dropdown-menu .active > a:hover {
	color: #000;
	text-decoration: none;
	background-color: #e4a900;
}
.sidebar-nav {
	position: absolute;
	max-width: 228px;
	margin: 2px 0 0;
	padding: 0;
	list-style: none;
}
.sidebar-nav > li {
	background-color: #fff;
	text-indent: 20px;
}
.sidebar-nav > li > a {
	color: black;
	display: block;
	text-decoration: none;
}
.sidebar-nav > li > a:hover {
	background-color: #e5e5e5;
	text-decoration: none;
}
.span3 {
	border: 1px solid #e5e5e5;
	border-radius: 4px;
}
.fechaComunicado {
	color: #999999;
	text-align: center;
	font-size: 10px;
}
.thumbnailComunicado li {
	list-style: none;
}
.dropdown-item {
	color: white;
}
.Comunicado {
	border-top: 2px solid #e4a900;
	
	display: block;
	padding: 1px;
	padding-top: 5px;
	    border-radius: 4px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
	line-height: 1;
}

.Comunicado li{
	list-style: none;
}

#divComunicado {
	margin-top: 10px;
}

.pieRow {
    font-size: 12px;

    line-height: 1.4;
	 float: left;
	clear: none;
	width: 100%;
}
	



.spanPieLeft {
	width: 50%;
	float: left;
	padding-left: 20%;
}


.spanPieRight{
	width: 50%;
	float: right;
	padding-left: 5%;
}

>>>>>>> 1154acefe22dc59b2834a896511c2b023afe48bd
